<?xml version="1.0" encoding="UTF-8"?>
<menus>
	<menu language='es'>
		<item>
			<name>Bienvenido</name>
			<icon></icon>
			<link></link>
		</item>
		<item>
			<name>Sectores</name>
			<icon></icon>
			<link></link>
		</item>
		<item>
			<name>Experiencias</name>
			<icon></icon>
			<link></link>
		</item>
		<item>
			<name>Formación</name>
			<icon></icon>
			<link></link>
		</item>
		<item>
			<name>Actividades</name>
			<icon></icon>
			<link></link>
		</item>
		<item>
			<name>Portfolio</name>
			<icon></icon>
			<link></link>
		</item>
		<item>
			<name>Idiomas</name>
			<icon></icon>
			<link></link>
		</item>
		<item>
			<name>Habilidades</name>
			<icon></icon>
			<link></link>
		</item>
		<item>
			<name>Hobbies</name>
			<icon></icon>
			<link></link>
		</item>
	</menu>
	<menu language='en'>
		<item>
			<name>Welcome</name>
			<icon></icon>
			<link></link>
		</item>
		<item>
			<name>Sections</name>
			<icon></icon>
			<link></link>
		</item>
		<item>
			<name>Experiencies</name>
			<icon></icon>
			<link></link>
		</item>
		<item>
			<name>Education</name>
			<icon></icon>
			<link></link>
		</item>
		<item>
			<name>Activities</name>
			<icon></icon>
			<link></link>
		</item>
		<item>
			<name>Portfolio</name>
			<icon></icon>
			<link></link>
		</item>
		<item>
			<name>Languages</name>
			<icon></icon>
			<link></link>
		</item>
		<item>
			<name>Skills</name>
			<icon></icon>
			<link></link>
		</item>
		<item>
			<name>Hobbies</name>
			<icon></icon>
			<link></link>
		</item>
	</menu>
</menus>